@charset "utf - 8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Malgun Gothic", Dotum;
    font-size: 0.75em;
    color: #333;
}

#login-form {
    width: 180px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 20px auto;
    height: 110px;
}

label {
    display: block;
    margin-top: 5px;
}

input[type = "image"]{
    display: block;
    margin-top: 5px;
    margin-bottom: 3px;
    width: 50px;
    margin-left: 50px;
}